[Desktop Entry]
Type=Application
Version=1.0
Exec=taildrop_wrapper %F
Icon=taildrop_wrapper
Name=Taildrop
Comment=Send file(s) to a Tailscale connected device
Terminal=false
StartupNotify=false
